<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">  
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
<title><!--{$title}--></title>  
</head>  
<body>  
<form action="__URL__/add" method="post">  
    用户名：<input type="text" name="username">  
    密码：<input type="text" name="password">  
    <input type="submit" value="注册">  
    <!--{__NOTOKEN__}-->  
</form>  
  
  
<voList name="alist" id="vo">  
    <li><span>ID</span><!--{$vo['id']}-->  
    <span>用户名</span><!--{$vo['username']}-->  
    <span>IP</span><!--{$vo['createip']}-->  
    <a href="__URL__/del/id/<!--{$vo['id']}-->">删除</a>  
    <a href="__URL__/edit/id/<!--{$vo['id']}-->">编辑</a></li>  
</voList>  
</body>  
</html>  