{extend name="model"}
    {block name="js"}
    <script>
        function add(){
            document.forms.addgwc.action="/secondhand/product/add";
            document.forms.addgwc.submit();
        }
        function buy(){
            document.forms.addgwc.action="/secondhand/buy/index";
            document.forms.addgwc.submit();
        }
    </script>
    {/block}
    {block name="body"}
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb pull-left">
                                <li><a href="/secondhand/index/index">Home</a></li>
                                <li>Category</li>
                                <li>Detail Product</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post" id="addgwc">
                                        <div class="post">
                                            <div class="post-price">
                                                ¥ {$goods.goods_price}
                                            </div>
                                            <div class="post-title">
                                                <h2>{$goods.goods_name}</h2>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i> 2 minutes ago</li>
                                                    <li><i class="fa fa-bars"></i> <a href="/secondhand/search/category?searchkey={$typenum[0]['goods_type']}">{$type[0]['type']}</a></li>
                                                        <?php if($find[0]==$find[1]) {?>
                                                    <li><i class="fa fa-map-marker"></i> <a href="category.html">
                                                        {$find[1]} {$find[2]}
                                                    </a></li>
                                                        <?php }else{  ?>
                                                    <li><i class="fa fa-map-marker"></i> <a href="category.html">
                                                        {$find[0]} {$find[1]}
                                                    </a></li>
                                                        <?php }  ?>
                                                    <li><i class="fa fa-bookmark"></i> {$goods.goods_quality}</li>
                                                </ul>
                                            </div>
                                            <div class="flexslider post-images">
                                                <ul class="slides">
                                                    {volist name="pic" id="a"}
                                                    <li data-thumb="{$a}">
                                                        <img alt="" src="{$a}" />
                                                    </li>
                                                    {/volist}
                                                </ul>

                                            </div>
                                            <div class="post-body">
                                                <h4><strong>{$goods.goods_name}</strong></h4>
                                                <p>{$goods.goods_introduce}</p>
                                            </div>
                                            <div class="post-footer">
                                                <div class="row">
                                                    <div class="col-xs-6">    
                                                        <button class="btn btn-info" onclick="buy();"><i class="fa fa-paypal"></i> <span class="hidden-xs hidden-sm">立即购买</span></button>
                                                        <button class="btn btn-warning" onclick="add();"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm">加入购物车</span></button>
                                                    </div>
                                                    <input type="hidden" id="id" name="id" value="{$goods.id}"/>
                                                    <input type="hidden" id="name" name="name" value="{$goods.goods_name}"/>
                                                    <input type="hidden" id="price" name="price" value="{$goods.goods_price}"/>
                                                    <input type="hidden" id="image" name="image" value="{$goods.goods_img}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-header">
                                        <h2>More From {$goods.goods_owner}</h2>
                                    </div>
                                    <div class="row">
                                        {volist name="more" id="more" length="3"}
                                        <div class="col-md-4">
                                            <div class="item-ads-grid">
                                                <div class="item-img-grid">
                                                    <img alt="" src="{$more.goods_img}" class="img-responsive img-center">
                                                </div>
                                                <div class="item-title">
                                                    <a href="detail.html"><h4>{$more.goods_name}</h4></a>
                                                </div>
                                                <div class="item-meta">
                                                    <ul>
                                                        <li class="item-date"><i class="fa fa-clock-o"></i> Today 10.35 am</li>
                                                        <li class="item-cat"><i class="fa fa-bars"></i> <a href="/secondhand/search/category?searchkey={$typenum[0]['goods_type']}">{$type[0]['type']}</a></li>
                                                            <?php if($find[0]==$find[1]) {?>
                                                        <li><i class="fa fa-map-marker"></i>
                                                            {$find[1]} {$find[2]}
                                                        </li>
                                                            <?php }else{  ?>
                                                        <li><i class="fa fa-map-marker"></i>
                                                            {$find[0]} {$find[1]}
                                                        </li>
                                                            <?php }  ?>
                                                        <li class="item-type"><i class="fa fa-bookmark"></i>{$more.goods_quality}</li>
                                                    </ul>
                                                </div>
                                                <div class="product-footer">
                                                    <div class="item-price-grid pull-left">
                                                        <h3>¥ {$more.goods_price}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/volist}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Seller</h3>
                                </div>
                                <div class="widget-body text-center">
                                    <img alt="avatar" src="/static/assets/img/people/gie.jpg" class="seller-avatar img-responsive">
                                    <h2 class="seller-name">{$goods.goods_owner}</h2>
                                    <p class="seller-detail">Location: 
                                        <?php if($find[0]==$find[1]){?>
                                    <strong>{$find[1]} {$find[2]}</strong><br/>
                                    <?php }else{  ?>
                                    <strong>{$find[0]} {$find[1]}</strong><br/>
                                    <?php }  ?>
                                    </strong><br/>
                                        Joined : <strong>21 June 2010</strong></p>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Browse by Category</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends">
                                        <li><a href="/secondhand/search/category?searchkey=1">小卡卡贴 &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="/secondhand/search/category?searchkey=2">专辑海报 &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="/secondhand/search/category?searchkey=3">明信写真 &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="/secondhand/search/category?searchkey=4">衣服配饰 &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="/secondhand/search/category?searchkey=5">限量定制 &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="/secondhand/search/category?searchkey=6">其余周边 &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Browse by Brand</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="brands">
                                        <li><label>SuperJunior</label></li>
                                        <li><label>EXO</label></li>
                                        <li><label>Bigbang</label></li>
                                        <li><label>TVXQ</label></li>
                                        <li><label>李易峰</label></li>
                                        <li><label>华晨宇</label></li>
                                        <li><label>周杰伦</label></li>
                                        <li><label>张杰</label></li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="footer">
                <div class="container">
                <ul class="pull-left footer-menu">
                    <li>
                        <a href="/secondhand/index/index"> Home </a>
                        <a href="#"> About us </a>
                        <a href="#"> Contact us </a>
                    </li>
                </ul>
                <ul class="pull-right footer-menu">
                    <li>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></li>
                </ul>
                </div>
            </div>
        </div>

        <!-- Essentials -->
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/plugins/owl-carousel/owl.carousel.js"></script>
        <script src="/static/assets/plugins/counter/jquery.countTo.js"></script>
        <script defer src="/static/assets/plugins/flexslider/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                // ===============Flexslider=====================
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails",
                    directionNav: false,
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });

                // ==========tooltip initial=================
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    {/block}
